body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* article list */
.article-list li {
  width: 40%;
  float: left;
  padding: 1%;
  list-style: none;
}

/* article detail */
.item-image {
  width: 70%;
  float: left;
  text-align: center;
}
.pic-list {
  width: 100%;
  display: inline-block;
}
.pic-list li {
  width: 30%;
  display: inline-block;
  cursor: pointer;
}
/* cart */
.cart-info {
  width: 100px;
  float: right;
  background: url(../images/cart-green.png) no-repeat;
  padding: 30px;
}
.cart-info p {
  padding-top: 50px;
}

/******************************************************
 *  json store                 *
\*****************************************************/
/*
body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #333;
  margin: 0px;
  padding: 0px;
}

#header {
  background: #C97E41;
  margin: 0px;
  padding: 20px;
}
#header h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #FFF;
  margin: 0px;
}
#header .cart-info {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 10px;
  background: #714625;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}
img {
  border: 0;
}
#articlelistview ul {
    list-style: none;
}

.item {
  display: border;
  float:left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align:center;
  font-size: 12px;
}
.item-title {
  font-weight: bold;
}
.item-artist {
  font-weight: bold;
  font-size: 14px;
}
.item-detail .item-image {
  float:left;
}
.item-image a img {
    width: 100%;
}
.item-detail .item-info {
  padding: 100px 10px 0px 10px;
}
*/